<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>BST Generator</h1>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>
